@import "~normalize.css";

:root{
    --color-text:#666;
    --color-high-text:#ff5777;
    --color-tint: #ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
    --img-width:100%;
    --img-height: 180px;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",
    "微软雅黑",Arial,sans-serif;
    user-select: none;/*禁止用户鼠标在页面中选中文字、图片*/
    -webkit-tap-highlight-color:transparent;/*webkit是苹果浏览器引擎，tap点击，*/
    background: var(--color-background);
    color: var(--color-text);
    width: 100vm;
}
a{
    color: var(--color-text);
    text-decoration: none;
}
.clearfix::after{
    clear: both;
    display: block;
    width: 0;
    height: 0;
    content: '';
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}
.left{
    float: left;
}
